.messageList {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  scrollbar-width: none;
}

.messageList::-webkit-scrollbar {
  width: 0;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #283593;
}

.text {
  width: 80%;
  height: 30px;
}

.button {
  width: 20%;
}
